:root {
  /* MULTI COMP DATA */
  --gh-ucl-theme:dark;
  --gh-uel-theme:dark;
  --gh-uecl-theme:dark;
  --gh-uwcl-theme:dark;
  --gh-uyl-theme:dark;
  --gh-base-theme:dark;
  /* Game achievements modal BG*/
  --gh-ucl-achievements: url("/theme/images/ucl_achievements.png");
  --gh-uel-achievements: url("/theme/images/uel_achievements.png");
  --gh-uecl-achievements: url("/theme/images/uecl_achievements.png");
  --gh-uwcl-achievements: url("/theme/images/uwcl_achievements.png");
  --gh-uyl-achievements: url("/theme/images/uyl_achievements.png");
    /*Profile modal login BG*/
    --gh-profileLogin-image: url('/theme/images/base_profileLogin.svg');
    /* profile nothing on overview*/
    --gh-noActivity-image: url("/theme/images/base_noActivity.png");

}
:root, :root [ec-comp="base"], :root [ec-theme="dark"] [ec-comp="base"] {
  /**/
  --gh-font-regular: "Manrope regular", "Roboto Regular", Helvetica, Arial,
    sans-serif;
  --gh-font-semibold: "Manrope semibold", "Roboto Medium", Helvetica, Arial,
    sans-serif;
  --gh-font-bold: "Manrope bold", "Roboto Bold", Helvetica, Arial, sans-serif;
  --gh-font2-regular: "Champions Regular", Helvetica, Arial, sans-serif;
  --gh-font2-bold: "Champions Bold", "Champions Bold Cyrillic", Helvetica, Arial,
    sans-serif;
  /**/
  --gh-card-back: rgba(5, 49, 88, 0.9);
  --gh-profile-header: #042848;
  --gh-profile-edit-bg: #042848;
  --gh-share-bg: #fff;
  --gh-profile-header-image: url("/theme/images/profileHeader.svg");
  --gh-collect-bg: url("/theme/images/collectBg.svg");
  --gh-modal-bg: #042848;
  /**/
  --gh-primary-01: #005eb4;
  --gh-primary-02: #002b60;
  --gh-primary-03: #004096;
  --gh-primary-04: #3c9af0;
  --gh-secondary-01: #1bc4db;
  --gh-secondary-02: #083d44;
  --gh-secondary-03: #0e6571;
  --gh-secondary-04: #148e9f;
  --gh-tertiary-01: #db1b77;
  --gh-tertiary-02: #530a2d;
  --gh-tertiary-03: #801046;
  --gh-tertiary-04: #ae155e;
  --gh-accent-01: #84b672;
  --gh-accent-02: #2e4825;
  --gh-accent-03: #446a37;
  --gh-data-01: #6eecfd;
  --gh-data-02: #1269ec;
  --gh-data-03: #169aad;
  --gh-data-04: #db1b77;
  --gh-text-01: #fff;
  --gh-text-02: rgba(255, 255, 255, 0.7);
  --gh-text-03: rgba(255, 255, 255, 0.5);
  --gh-text-04: #fff;
  --gh-text-05: #010922;
  --gh-ui-00: rgba(255, 255, 255, 0.05);
  --gh-ui-01: rgba(255, 255, 255, 0.1);
  --gh-ui-02: rgba(255, 255, 255, 0.25);
  --gh-ui-03: rgba(255, 255, 255, 0.35);
  --gh-ui-04: rgba(255, 255, 255, 0.55);
  --gh-ui-05: rgba(255, 255, 255, 0.8);
  --gh-ui-06: #fff;
  --gh-interaction: #00d9f7;
  --gh-interaction-compl: #082249;
  --gh-interaction-contrast: #fff;
  --gh-background: #031f38;
  --gh-elevation-01: #042848;
  --gh-elevation-02: #053158;
  --gh-elevation-03: #063a68;
  --gh-support-01: #0a9504;
  --gh-support-02: #205bc8;
  --gh-support-03: #e87223;
  --gh-support-04: #cb333b;
  --gh-support-05: #ffcd44;
        /* SHARE TEMPLATES*/
        --gh-share-portrait: url("https://gaming.uefa.com/theme/images/share/bg-base-portrait.png");
        --gh-share-landscape: url("https://gaming.uefa.com/theme/images/share/bg-base-landscape.png");
        --gh-share-square: url("https://gaming.uefa.com/theme/images/share/bg-base-square.png");
        --gh-share-stroke: #123452;
}
:root [ec-theme="light"] {
  --gh-text-01: #1a313c;
  --gh-ui-03: #b3c0c5;
  --gh-interaction-compl: #fff;
  --gh-interaction: #1e4fd0;
}
/* OTHER COMPS*/
/*                    UCL                            */
:root [ec-comp="ucl"], :root [ec-comp="ucl"] [ec-theme="light"], :root [ec-theme="light"] [ec-comp="ucl"] {
  --gh-font-regular: "Manrope regular", "Roboto Regular", Helvetica, Arial,
    sans-serif;
  --gh-font-semibold: "Manrope semibold", "Roboto Medium", Helvetica, Arial,
    sans-serif;
  --gh-font-bold: "Manrope bold", "Roboto Bold", Helvetica, Arial, sans-serif;
  --gh-font2-regular: "Champions Regular", Helvetica, Arial, sans-serif;
  --gh-font2-bold: "Champions Bold", "Champions Bold Cyrillic", Helvetica, Arial,
    sans-serif;
  /**/
  --gh-profile-header: none;
  --gh-profile-header-image: none;
  --gh-profileLogin-image: url("/theme/images/ucl_profileLogin.png");
  --gh-profile-edit-bg: url("/theme/images/edit_bg.png");
  --gh-share-before-bg: url("/theme/images/Starball.png");
  --gh-card-back: rgba(23, 23, 122, 0.9);
  --gh-modal-close: #0a0a61;
  /**/
  --gh-interaction: #0d3aff;
  --gh-interaction-hover: #738dff;
  --gh-interaction-pressed: #21214a;
  --gh-interaction-compl: #ffffff;
  --gh-text-01: #30316e;
  --gh-text-01-hover: #5153b3;
  --gh-text-01-pressed: #30316e;
  --gh-text-02: #606190;
  --gh-text-03: #9192b3;
  --gh-text-04: #ffffff;
  --gh-text-05: #2c2c2c;
  --gh-ui-00: #ffffff;
  --gh-ui-01: #ffffff;
  --gh-ui-02: #d9dbe7;
  --gh-ui-03: #c1c2d5;
  --gh-ui-04: #a3a4b7;
  --gh-ui-05: #252663;
  --gh-ui-06: #0a0a2f;
  --gh-data-01: #22e3c2;
  --gh-background: #f1f3f8;
  --gh-elevation-01: #ffffff;
  --gh-elevation-02: #ffffff;
  --gh-elevation-03: #ffffff;
  --gh-support-01: #32a72c;
  --gh-modal-bg: var(--gh-background);
  /**/
      /* SHARE TEMPLATES*/
      --gh-share-portrait: url("https://gaming.uefa.com/theme/images/share/bg-ucl-portrait.png");
      --gh-share-landscape: url("https://gaming.uefa.com/theme/images/share/bg-ucl-landscape.png");
      --gh-share-square: url("https://gaming.uefa.com/theme/images/share/bg-ucl-square.png");
      --gh-share-stroke: #0A0A61;
      
}
:root [ec-theme="dark"] [ec-comp="ucl"], :root [ec-theme="dark"][ec-comp="ucl"] {
  --gh-interaction: #5af7dc;
  --gh-interaction-hover: #bbfcf1;
  --gh-interaction-pressed: #29f5d2;
  --gh-interaction-compl: #00004b;
  --gh-text-01: #ffffff;
  --gh-text-01-hover: rgba(255, 255, 255, 0.9);
  --gh-text-01-pressed: rgba(255, 255, 255, 0.7);
  --gh-text-02: rgba(255, 255, 255, 0.7);
  --gh-text-03: rgba(255, 255, 255, 0.5);
  --gh-text-04: #ffffff;
  --gh-text-05: rgba(0, 0, 75, 0.8);
  --gh-ui-00: #ffffff0c;
  --gh-ui-01: rgba(255, 255, 255, 0.1);
  --gh-ui-02: rgba(255, 255, 255, 0.25);
  --gh-ui-03: rgba(255, 255, 255, 0.35);
  --gh-ui-04: rgba(255, 255, 255, 0.55);
  --gh-ui-05: rgba(255, 255, 255, 0.8);
  --gh-ui-06: #ffffff;
  --gh-data-01: #5af7dc;
  --gh-background: #000040;
  --gh-elevation-01: #0a0a61;
  --gh-elevation-02: #151573;
  --gh-elevation-03: #17177a;
  --gh-support-01: #32a72c;
  --gh-modal-bg: url("/theme/images/BG.png") #031198 no-repeat;
}
/*                    UEL                            */
:root [ec-comp="uel"], :root [ec-comp="uel"] [ec-theme="light"], :root [ec-theme="light"] [ec-comp="uel"] {
  --gh-font-regular: 'Europa Nuova regular', Helvetica, Arial, sans-serif;
  --gh-font-semibold: 'Europa Nuova bold', Helvetica, Arial, sans-serif;
  --gh-font-bold: 'Europa Nuova bold', Helvetica, Arial, sans-serif;
  --gh-font-comp-regular: 'Europa Title Bold', Helvetica, Arial, sans-serif;
  --gh-font-comp-bold: 'Europa Title Web Bold', Helvetica, Arial, sans-serif;
  /**/
  --gh-profile-header: none;
  --gh-profile-header-image: none;
  --gh-profile-edit-bg: url("/theme/images/edit_bg.png");
  --gh-share-before-bg: url("/theme/images/Starball.png");
  --gh-card-back: rgba(23, 23, 122, 0.9);
  --gh-modal-close: #1C1C1E;
  /**/
  --gh-interaction:#C34100;
  --gh-interaction-hover:#FF712A;
  --gh-interaction-pressed:#903000;
  --gh-interaction-compl:#FFFFFF;
  --gh-text-01:#2C2C2C;
  --gh-text-01-hover:#5F5F5F;
  --gh-text-01-pressed:#131313;
  --gh-text-02:#6C6C6C;
  --gh-text-03:#9C9C9C;
  --gh-text-04:#FFFFFF;
  --gh-text-05:#2C2C2C;
  --gh-ui-00:#FFFFFF;
  --gh-ui-01:#FFFFFF;
  --gh-ui-02:#EBEBEB;
  --gh-ui-03:#DDDDDD;
  --gh-ui-04:#BBBBBB;
  --gh-ui-05:#2C2C2C;
  --gh-ui-06:#000000;
  --gh-data-01:#EA5A0B;
  --gh-background:#F4F3F2;
  --gh-elevation-01:#FFFFFF;
  --gh-elevation-02:#FFFFFF;
  --gh-elevation-03:#FFFFFF;
  --gh-support-01:#0A9504;
  --gh-support-02:#205BC8;
  --gh-support-03:#DF6817;
  --gh-support-04:#CB333B;
  --gh-support-05:#FFCD44;
  --gh-modal-bg: var(--gh-background);
  /**/
        /* SHARE TEMPLATES*/
        --gh-share-portrait: url("https://gaming.uefa.com/theme/images/share/bg-uel-portrait.png");
        --gh-share-landscape: url("https://gaming.uefa.com/theme/images/share/bg-uel-landscape.png");
        --gh-share-square: url("https://gaming.uefa.com/theme/images/share/bg-uel-square.png");
        --gh-share-stroke: #0E0E0E;
}
:root [ec-theme="dark"] [ec-comp="uel"], :root [ec-theme="dark"][ec-comp="uel"] {
  --gh-modal-bg: url("/theme/images/BG-UEL.png");
  --gh-interaction:#FF6900;
  --gh-interaction-hover:#FFA566;
  --gh-interaction-pressed:#CC5400;
  --gh-interaction-compl:#000000;
  --gh-text-01:#FFFFFF;
  --gh-text-01-hover:rgba(255, 255, 255, 0.9);
  --gh-text-01-pressed:rgba(255, 255, 255, 0.7);
  --gh-text-02:rgba(255, 255, 255, 0.7);
  --gh-text-03:rgba(255, 255, 255, 0.5);
  --gh-text-04:#FFFFFF;
  --gh-text-05:#000000;
  --gh-ui-00:#FFFFFF0C;
  --gh-ui-01:rgba(255, 255, 255, 0.1);
  --gh-ui-02:rgba(255, 255, 255, 0.25);
  --gh-ui-03:rgba(255, 255, 255, 0.35);
  --gh-ui-04:rgba(255, 255, 255, 0.55);
  --gh-ui-05:rgba(255, 255, 255, 0.8);
  --gh-ui-06:#FFFFFF;
  --gh-data-01:#FF6900;
  --gh-background:#000000;
  --gh-elevation-01:#1C1C1E;
  --gh-elevation-02:#2C2C2E;
  --gh-elevation-03:#3A3A3C;
  --gh-support-01:#0A9504;
  --gh-support-02:#205BC8;
  --gh-support-03:#DF6817;
  --gh-support-04:#CB333B;
  --gh-support-05:#FFCD44;
}
/*                    UECL                            */
:root [ec-comp="uecl"], :root [ec-comp="uecl"] [ec-theme="light"], :root [ec-theme="light"] [ec-comp="uecl"] {
  --gh-font-regular: 'Europa Nuova regular', Helvetica, Arial, sans-serif;
  --gh-font-semibold: 'Europa Nuova bold', Helvetica, Arial, sans-serif;
  --gh-font-bold: 'Europa Nuova bold', Helvetica, Arial, sans-serif;
  --gh-font-comp-regular: 'Europa Title Bold', Helvetica, Arial, sans-serif;
  --gh-font-comp-bold: 'Europa Title Web Bold', Helvetica, Arial, sans-serif;
  /**/
  --gh-profile-header: none;
  --gh-profile-header-image: none;
  --gh-profile-edit-bg: url("/theme/images/edit_bg.png");
  --gh-share-before-bg: url("/theme/images/Starball.png");
  --gh-card-back: rgba(23, 23, 122, 0.9);
  --gh-modal-close: #1C1C1E;
  /**/
  --gh-interaction:#0C890C;
  --gh-interaction-hover:#14E714;
  --gh-interaction-pressed:#085A08;
  --gh-interaction-compl:#FFFFFF;
  --gh-text-01:#2C2C2C;
  --gh-text-01-hover:#5F5F5F;
  --gh-text-01-pressed:#131313;
  --gh-text-02:#6C6C6C;
  --gh-text-03:#9C9C9C;
  --gh-text-04:#FFFFFF;
  --gh-text-05:#2C2C2C;
  --gh-ui-00:#FFFFFF;
  --gh-ui-01:#FFFFFF;
  --gh-ui-02:#EBEBEB;
  --gh-ui-03:#DDDDDD;
  --gh-ui-04:#BBBBBB;
  --gh-ui-05:#2C2C2C;
  --gh-ui-06:#000000;
  --gh-data-01:#00BE14;
  --gh-background:#F4F3F2;
  --gh-elevation-01:#FFFFFF;
  --gh-elevation-02:#FFFFFF;
  --gh-elevation-03:#FFFFFF;
  --gh-support-01:#0A9504;
  --gh-support-02:#205BC8;
  --gh-support-03:#DF6817;
  --gh-support-04:#CB333B;
  --gh-support-05:#FFCD44;
  --gh-modal-bg: var(--gh-background);
  /**/
        /* SHARE TEMPLATES*/
        --gh-share-portrait: url("https://gaming.uefa.com/theme/images/share/bg-uecl-portrait.png");
        --gh-share-landscape: url("https://gaming.uefa.com/theme/images/share/bg-uecl-landscape.png");
        --gh-share-square: url("https://gaming.uefa.com/theme/images/share/bg-uecl-square.png");
        --gh-share-stroke: #0E0E0E;
}
:root [ec-theme="dark"] [ec-comp="uecl"], :root [ec-theme="dark"][ec-comp="uecl"] {
  --gh-interaction:#00BE14;
  --gh-interaction-hover:#25FF3C;
  --gh-interaction-pressed:#008B0F;
  --gh-interaction-compl:#000000;
  --gh-text-01:#FFFFFF;
  --gh-text-01-hover:rgba(255, 255, 255, 0.9);
  --gh-text-01-pressed:rgba(255, 255, 255, 0.7);
  --gh-text-02:rgba(255, 255, 255, 0.7);
  --gh-text-03:rgba(255, 255, 255, 0.5);
  --gh-text-04:#FFFFFF;
  --gh-text-05:#111111;
  --gh-ui-00:#FFFFFF0C;
  --gh-ui-01:rgba(255, 255, 255, 0.1);
  --gh-ui-02:rgba(255, 255, 255, 0.25);
  --gh-ui-03:rgba(255, 255, 255, 0.35);
  --gh-ui-04:rgba(255, 255, 255, 0.55);
  --gh-ui-05:rgba(255, 255, 255, 0.8);
  --gh-ui-06:#FFFFFF;
  --gh-data-01:#00BE14;
  --gh-background:#000000;
  --gh-elevation-01:#1C1C1E;
  --gh-elevation-02:#2C2C2E;
  --gh-elevation-03:#3A3A3C;
  --gh-support-01:#0A9504;
  --gh-support-02:#205BC8;
  --gh-support-03:#DF6817;
  --gh-support-04:#CB333B;
  --gh-support-05:#FFCD44;
  --gh-modal-bg: url("/theme/images/BG-UECL.png");
}
/*                    UWCL                            */
:root [ec-comp="uwcl"], :root [ec-comp="uwcl"] [ec-theme="light"], :root [ec-theme="light"] [ec-comp="uwcl"] {
  --gh-font-regular: 'Europa Nuova regular', Helvetica, Arial, sans-serif;
  --gh-font-semibold: 'Europa Nuova bold', Helvetica, Arial, sans-serif;
  --gh-font-bold: 'Europa Nuova bold', Helvetica, Arial, sans-serif;
  --gh-font-comp-regular: 'Europa Title Bold', Helvetica, Arial, sans-serif;
  --gh-font-comp-bold: 'Europa Title Web Bold', Helvetica, Arial, sans-serif;
  /**/
  --gh-profile-header: none;
  --gh-profile-header-image: none;
  --gh-profile-edit-bg: url("/theme/images/edit_bg.png");
  --gh-share-before-bg: url("/theme/images/Starball.png");
  --gh-card-back: rgba(23, 23, 122, 0.9);
  --gh-modal-close: #08236F;
  /**/
  --gh-primary-01:#0050A0;
  --gh-primary-02:#0072E4;
  --gh-primary-03:#003F7E;
  --gh-primary-04:#00264B;
  --gh-secondary-01:#00B7E3;
  --gh-secondary-02:#28D5FF;
  --gh-secondary-03:#008EB0;
  --gh-secondary-04:#00657D;
  --gh-tertiary-01:#012553;
  --gh-tertiary-02:#023B85;
  --gh-tertiary-03:#011631;
  --gh-tertiary-04:#000F21;
  --gh-interaction:#0C65BE;
  --gh-interaction-hover:#3D98F3;
  --gh-interaction-pressed:#094C8E;
  --gh-interaction-compl:#FFFFFF;
  --gh-interaction-high-contrast:#FFFFFF;
  --gh-text-01:#3C3C3C;
  --gh-text-01-hover:#6F6F6F;
  --gh-text-01-pressed:#232323;
  --gh-text-02:#6C6C6C;
  --gh-text-03:#9C9C9C;
  --gh-text-04:#FFFFFF;
  --gh-text-05:#1C1C1C;
  --gh-ui-00: #FFFFFF;
  --gh-ui-01:#F4F4F4;
  --gh-ui-02:#D4D4D4;
  --gh-ui-03:#C4C4C4;
  --gh-ui-04:#BBBBBB;
  --gh-ui-05:#2C2C2C;
  --gh-ui-06:#1C1C1C;
  --gh-data-01:#0C65BE;
  --gh-data-02:#EE701C;
  --gh-data-03:#0AC1ED;
  --gh-data-04:#012553;
  --gh-background:#F1F0F3;
  --gh-elevation-01:#FFFFFF;
  --gh-elevation-02:#FFFFFF;
  --gh-elevation-03:#FFFFFF;
  --gh-support-01:#32A72C;
  --gh-support-01B:#AEF5A2;
  --gh-support-02:#0085E6;
  --gh-support-03:#DF6817;
  --gh-support-04:#CB333B;
  --gh-support-04B:#F1C8CA;
  --gh-support-05:#FFCD44;
  --gh-modal-bg: var('--gh-background');
  /**/
        /* SHARE TEMPLATES*/
        --gh-share-portrait: url("https://gaming.uefa.com/theme/images/share/bg-uwcl-portrait.png");
        --gh-share-landscape: url("https://gaming.uefa.com/theme/images/share/bg-uwcl-landscape.png");
        --gh-share-square: url("https://gaming.uefa.com/theme/images/share/bg-uwcl-square.png");
        --gh-share-stroke: #0F2373;
}
:root [ec-theme="dark"] [ec-comp="uwcl"], :root [ec-theme="dark"][ec-comp="uwcl"] {
  --gh-modal-bg: url("/theme/images/BG-UWCL.png");
  --gh-primary-01:#0050A0;
  --gh-primary-02:#0072E4;
  --gh-primary-03:#003F7E;
  --gh-primary-04:#00264B;
  --gh-secondary-01:#00B7E3;
  --gh-secondary-02:#28D5FF;
  --gh-secondary-03:#008EB0;
  --gh-secondary-04:#00657D;
  --gh-tertiary-01:#012553;
  --gh-tertiary-02:#023B85;
  --gh-tertiary-03:#011631;
  --gh-tertiary-04:#000F21;
  --gh-interaction:#28D5FF;
  --gh-interaction-hover:#8EE9FF;
  --gh-interaction-pressed:#00C4F4;
  --gh-interaction-compl:#00113F;
  --gh-interaction-high-contrast:#FFFFFF;
  --gh-text-01:#FFFFFF;
  --gh-text-01-hover:rgba(255, 255, 255, 0.9);
  --gh-text-01-pressed:rgba(255, 255, 255, 0.7);
  --gh-text-02:rgba(255, 255, 255, 0.7);
  --gh-text-03:rgba(255, 255, 255, 0.5);
  --gh-text-04:#FFFFFF;
  --gh-text-05:#111111;
  --gh-ui-00: #FFFFFF19;
  --gh-ui-01:rgba(255, 255, 255, 0.1);
  --gh-ui-02:rgba(255, 255, 255, 0.25);
  --gh-ui-03:rgba(255, 255, 255, 0.35);
  --gh-ui-04:rgba(255, 255, 255, 0.55);
  --gh-ui-05:rgba(255, 255, 255, 0.8);
  --gh-ui-06:#FFFFFF;
  --gh-data-01:#28D5FF;
  --gh-data-02:#F5751F;
  --gh-data-03:#0863BE;
  --gh-data-04:#FFFFFF;
  --gh-background:#011755;
  --gh-elevation-01:#08236F;
  --gh-elevation-02:#1C3783;
  --gh-elevation-03:#2B4692;
  --gh-support-01:#32A72C;
  --gh-support-01B:#AEF5A2;
  --gh-support-02:#0085E6;
  --gh-support-03:#DF6817;
  --gh-support-04:#CB333B;
  --gh-support-04B:#F1C8CA;
  --gh-support-05:#FFCD44;
}
/*                    UYL                            */
:root [ec-comp="uyl"], :root [ec-comp="uyl"] [ec-theme="light"], :root [ec-theme="light"] [ec-comp="uyl"] {
  --gh-font-regular: 'Europa Nuova regular', Helvetica, Arial, sans-serif;
  --gh-font-semibold: 'Europa Nuova bold', Helvetica, Arial, sans-serif;
  --gh-font-bold: 'Europa Nuova bold', Helvetica, Arial, sans-serif;
  --gh-font-comp-regular: 'Europa Title Bold', Helvetica, Arial, sans-serif;
  --gh-font-comp-bold: 'Europa Title Web Bold', Helvetica, Arial, sans-serif;
  /**/
  --gh-profile-header: none;
  --gh-profile-header-image: none;
  --gh-profile-edit-bg: url("/theme/images/edit_bg.png");
  --gh-share-before-bg: url("/theme/images/Starball.png");
  --gh-card-back: rgba(23, 23, 122, 0.9);
  --gh-modal-close: #FFFFFF;
  /**/
  --gh-interaction:#10069F;
  --gh-interaction-hover:#1608e1;
  --gh-interaction-pressed:#0c047d;
  --gh-interaction-compl:#FFFFFF;
  --gh-text-01:#2C2C2C;
  --gh-text-01-hover:#5F5F5F;
  --gh-text-01-pressed:#131313;
  --gh-text-02:#6C6C6C;
  --gh-text-03:#9C9C9C;
  --gh-text-04:#FFFFFF;
  --gh-text-05:#2C2C2C;
  --gh-ui-00: #FFFFFF;
  --gh-ui-01:#EFEFEF;
  --gh-ui-02:#DDDDDD;
  --gh-ui-03:#C9C9C9;
  --gh-ui-04:#BBBBBB;
  --gh-ui-05:#2C2C2C;
  --gh-ui-06:#000000;
  --gh-data-01:#10069F;
  --gh-background:#F4F3F2;
  --gh-elevation-01:#FFFFFF;
  --gh-elevation-02:#FFFFFF;
  --gh-elevation-03:#FFFFFF;
  --gh-support-01:#0A9504;
  --gh-support-02:#205BC8;
  --gh-support-03:#DF6817;
  --gh-support-04:#CB333B;
  --gh-support-05:#FFCD44;
  --gh-modal-bg: var('--gh-background');
  /**/
        /* SHARE TEMPLATES*/
        --gh-share-portrait: url("https://gaming.uefa.com/theme/images/share/bg-uyl-portrait.png");
        --gh-share-landscape: url("https://gaming.uefa.com/theme/images/share/bg-uyl-landscape.png");
        --gh-share-square: url("https://gaming.uefa.com/theme/images/share/bg-uyl-square.png");
        --gh-share-stroke: #002766;
}
:root [ec-theme="dark"] [ec-comp="uyl"], :root [ec-theme="dark"][ec-comp="uyl"] {
  --gh-modal-bg: url("/theme/images/BG-UYL.png");
  --gh-primary-04:#002766;
  --gh-tertiary-01:#D5D7D8;
  --gh-interaction:#8EF4A1;
  --gh-interaction-hover:#a4f6b3;
  --gh-interaction-pressed:#82f297;
  --gh-interaction-compl:#000000;
  --gh-text-01:#FFFFFF;
  --gh-text-01-hover:rgba(255, 255, 255, 0.9);
  --gh-text-01-pressed:rgba(255, 255, 255, 0.7);
  --gh-text-02:#FFFFFFB2;
  --gh-text-03:#FFFFFF7F;
  --gh-text-04:#FFFFFF;
  --gh-text-05:#000000;
  --gh-ui-00: #FFFFFF0C;
  --gh-ui-01:#FFFFFF19;
  --gh-ui-02:#FFFFFF3F;
  --gh-ui-03:#FFFFFF59;
  --gh-ui-04:#FFFFFF8C;
  --gh-ui-05:#FFFFFFCC;
  --gh-ui-06:#FFFFFF;
  --gh-data-01:#8EF4A1;
  --gh-background:#232425;
  --gh-elevation-01:#2E2F31;
  --gh-elevation-02:#46484B;
  --gh-elevation-03:#5C5F63;
  --gh-support-01:#0A9504;
  --gh-support-02:#205BC8;
  --gh-support-03:#DF6817;
  --gh-support-04:#CB333B;
  --gh-support-05:#FFCD44;
}